.flightCardWrapper {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  margin: 2% 0 2% 0;
  padding: 2%;
}

.flightId {
  width: 15%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.flightDuration {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}

.departure,
.arrival {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.payment {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .flightCardWrapper {
    width: 25rem;
    display: flex;
    flex-direction: column !important;
  }
  .flightId,
  .flightDuration,
  .payment {
    width: 100%;
    margin: 2% 0 2% 0;
  }
}
