.flightCardWrapper {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between;
  margin: 2% 0 2% 0;
  padding: 2%;
}

.flightId {
  width: 15%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.flightDuration {
  width: 55%;
  display: flex;
  justify-content: space-evenly;
}

.departure,
.arrival {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.payment {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
