.bookFlightWrapper {
  flex-flow: column;
  display: flex;
  width: 96%;
  margin: 2%;
  order: 2;
}

.selectedFlight {
  display: flex;
  flex-flow: column;
}

.flightName {
  font-weight: bold;
}

@media screen and (max-width: 968px) {
  .flightScheduleWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
