.sidebarWrapper {
  flex-flow: column;
  margin-top: 2vh;
  display: flex;
  min-width: 13em;
  order: 1;
}

.tabWrapper {
  justify-content: space-between;
  display: flex;
  flex-flow: row;
}

.inputWrapper {
  margin: 5% 0 5% 0;
}

.dropdown > button {
  box-shadow: none !important;
  width: 10em !important;
  margin: 2% 0 2% 0;
  border: none;
}

.sideImage {
  width: 11em;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0.5rem;
  margin-top: auto;
}

.sideImage > img {
  width: 100%;
  transform: rotate(-10deg);
}

.sliderWrapper {
  display: flex;
  flex-flow: column;
  margin: 2% 0 2% 0;
}

.sliderWrapper > input {
  width: 90% !important;
}

@media screen and (max-width: 668px) {
  .sliderWrapper > input {
    width: 50% !important;
  }

  .sideImage > img {
    display: none;
  }
  .tabWrapper {
    justify-content: flex-start;
  }
}

input[type="range"] {
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #4265ae;
  border-radius: 25px;
}
input[type="range"]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(66, 101, 174, 1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #5979c0;
}
