.sidebarWrapper {
  flex-flow: column;
  margin-top: 2vh;
  display: flex;
  min-width: 13em;
  order: 1;
}

.tabWrapper {
  justify-content: space-between;
  display: flex;
  flex-flow: row;
}

.inputWrapper {
  margin: 5% 0 5% 0;
}

.dropdown > button {
  box-shadow: none !important;
  width: 10em !important;
  margin: 2% 0 2% 0;
  border: none;
}

.sideImage {
  width: 12em;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0.5rem;
  margin-top: auto;
}

.sideImage > img {
  width: 100%;
  transform: rotate(-10deg);
}
