body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4194d8;
}

::-webkit-scrollbar-track {
  background-color: #7fb2d4;
}

*:focus {
  outline: none;
}
